.recipe-cover-img-sec-1 {
  width: 100%;
  height: 15rem;
  position: relative;
}

.recipe-img {
  width: 80%;
  height: auto;
}

.recipe-info-box {
  position: absolute;
  box-shadow: inset 8px 0px 0 0 #5ca1bc, 0 4px 10px rgba(0, 0, 0, 0.2);
  bottom: -6rem;
  background: #ffffff;
  width: 90%;
  margin: 2rem auto;
  left: 1rem;
  height: 6rem;
}

.recipe-name {
  text-decoration: underline;
  position: relative;
  z-index: 5;
  font-size: 1rem;
}

.recipe-name::after {
  content: "";
  width: 8rem;
  height: 1rem;
  color: #a3cad9;
  background: #a3cad9;
  position: absolute;
  top: 0.5rem;
  left: 0;
  z-index: -5;
}
.recipe-ingredients-sec-2 {
  margin: 7rem 0 0 0;
}

.recipe-instructions-sec-3 {
  margin: 2rem 0 0 0;
}

.recipe-ingredients-sec-2,
.recipe-instructions-sec-3 {
  padding: 0.75rem 0;
  background: #f0ffff;
}

.recipe-ing-wrapper,
.recipe-ins-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-ing-heading,
.recipe-ins-heading {
  box-shadow: 0 5px #4682b4;
}

.recipe-ings-list,
.recipe-ins-list {
  padding: 0.2rem 0 0 2rem;
}

.recipe-ings-list > *,
.recipe-ins-list > * {
  list-style: disclosure-closed;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0 0.5rem 1rem;
  width: 90%;
  border-radius: 0.75rem;
  margin: 0.4rem;
  background: #fff;
}

@media only screen and (min-width: 640px) {
  .recipe-cover-img-sec-1 {
    width: 100%;
    height: 18rem;
    position: relative;
  }

  .recipe-img-wrapper {
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .recipe-img {
    width: 32rem;
    height: inherit;
  }

  .recipe-info-box {
    position: absolute;
    box-shadow: inset 8px 0px 0 0 #5ca1bc, 0 4px 10px rgba(0, 0, 0, 0.2);
    bottom: -6rem;
    background: #ffffff;
    width: 41rem;
    left: 10rem;
    height: 10rem;
  }

  .recipe-name {
    text-decoration: underline;
    position: relative;
    z-index: 5;
    font-size: 1.5rem;
  }

  .recipe-name::after {
    content: "";
    width: 14rem;
    height: 1rem;
    color: #a3cad9;
    background: #a3cad9;
    position: absolute;
    top: 1rem;
    left: 0;
    z-index: -5;
  }
}

@media only screen and (min-width: 768px) {
  .recipe-cover-img-sec-1 {
    width: 100%;
    height: 18rem;
    position: relative;
  }

  .recipe-img-wrapper {
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .recipe-img {
    width: 32rem;
    height: inherit;
  }

  .recipe-info-box {
    position: absolute;
    box-shadow: inset 8px 0px 0 0 #5ca1bc, 0 4px 10px rgba(0, 0, 0, 0.2);
    bottom: -10rem;
    background: #ffffff;
    width: 41rem;
    left: 23rem;
    height: 10rem;
    margin: 0;
  }

  .recipe-name {
    text-decoration: underline;
    position: relative;
    z-index: 5;
    font-size: 1.5rem;
  }

  .recipe-name::after {
    content: "";
    width: 14rem;
    height: 1rem;
    color: #a3cad9;
    background: #a3cad9;
    position: absolute;
    top: 1rem;
    left: 0;
    z-index: -5;
  }

  .likes-wrapper {
    display: block;
    padding: 0.2rem;
  }

  .recipe-likes,
  .recipe-dislikes {
    font-size: 1.4rem;
    padding: 0.5rem;
    vertical-align: top;
  }

  .recipe-category {
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0.2rem;
    margin: 0.2rem;
  }

  .recipe-ingredients-sec-2 {
    margin: 12rem 0 0 0;
  }

  .recipe-instructions-sec-3 {
    margin: 3rem 0 5rem 0;
  }

  .recipe-ingredients-sec-2,
  .recipe-instructions-sec-3 {
    min-height: 20rem;
    height: auto;
    background: antiquewhite;
  }

  .recipe-ing-wrapper,
  .recipe-ins-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 5;
  }

  .recipe-ins-wrapper {
    justify-content: flex-end;
  }

  .waves {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }

  .recipe-ing-list-container,
  .recipe-ins-list-container {
    width: 50%;
    min-height: 80%;
    max-height: 90%;
    height: 80%;
    box-shadow: inset 8px 0 0 #5ca1bc, 0 4px 10px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
  }

  .recipe-ing-list-container {
    margin-left: 2rem;
    padding: 0.5rem 0 0 1rem;
  }

  .recipe-ins-list-container {
    margin-right: 2rem;
    padding: 0.5rem 1rem 0 0;
  }

  .recipe-ins-list-container {
    width: 50%;
    min-height: 90%;
    height: 80%;
    max-height: 90%;
    box-shadow: inset 8px 0 0 #5ca1bc, 0 4px 10px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    padding: 1rem;
  }

  .recipe-ing-heading,
  .recipe-ins-heading {
    font-weight: 600;
  }

  .recipe-ings-list > * {
    margin: 0.3rem 0 0 1rem;
    list-style: linear-gradient;
    padding: 0.5rem;
    background: #fff;
    border-radius: 0.75rem;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    width: 50%;
  }
  .recipe-ins-list > * {
    margin: 0.3rem 0 0 1rem;
    list-style: linear-gradient;
    padding: 0.5rem;
    background: #fff;
    border-radius: 0.75rem;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    width: 50%;
  }
}
